{% extends 'base.html' %}

{% block title %}Boggle{% endblock %}

{% block content %}
<h1>Welcome to Boggle!</h1>

<!-- 5 x 5 board -->
<table>
  {% for row in board %}
  <tr>
    {% for char in row %}
    <td>{{char}}</td>
    {% endfor %}
</tr>
  {% endfor %}
</table>
<div id="scoreboard">
  <p>Time Remaining: <span id="time"></span></p>
  <p>High Score: <span id="high-score">{{session.get('high-score', 0)}}</span></p>
  <p>Games Played: <span id="games-played">{{session.get('games-played')}}</span></p>
  <p>Current Score: <span id="score">0</span></p>
</div>
<div id="guess-msg"></div>

<form id="submit-guess" action="">
  <label for="guess">Guess a Word:</label>
  <input type="text" id="guess" name="guess">
  <input type="submit" id="submit-guess-btn">
</form>



{% endblock %}