/* General Typography */
html {
  height: 100%;
}

body {
  font-family: roboto;
  font-size: 15px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 3.5rem;
  letter-spacing: .05em;
  margin: .5rem 2rem 1rem 1.5rem;
  color: rgb(69, 124, 224);
  -webkit-text-stroke: .1px white;
}

#play-label {
  text-align: center;
  font-size: 2em;
  margin: .5em 1em;
}

#player-turn {
  font-weight: bold;
}

/* game board table */
#game {
  display: block;
  margin: 0 auto;
  width: 800px;
}

#board {
  border: solid 5px rgb(69, 124, 224);
  background-color: rgb(69, 124, 224);
  margin: 0 auto;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  background-color: white;
  border-radius: 50%;
}

/* Game Piece */
.piece {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.p1 {
  background-color: rgb(199, 51, 51);
}

.p2 {
  background-color: rgb(219, 219, 62);
}

.p1-text-color,
.p2-text-color {
  -webkit-text-stroke: 1px black;
}

.p1-text-color {
  color: rgb(199, 51, 51)
}

.p2-text-color {
  color: rgb(219, 219, 62)
}

/* Fall Animation */
.fall {
  animation-name: piece-drop;
  animation-duration: 1s;
}

@keyframes piece-drop {
  from {
      transform: translateY(-300px); /* Reduce this val as cols fill? */
  }
  to {
      transform: translateY(0);
  }
}


/* column-top is table row of clickable areas for each column */
#column-top td {
  background-color: rgb(168, 161, 161);
}

#column-top td:hover {
  background-color: gold;
  cursor: pointer;
}

/* Form */
form {
  display: flex;
  width: 230px;
  margin: 15px auto;
  justify-content: center;
}

form input {
  display: flex;
}

#sliders {
  display: flex;
  flex-direction: column;
}

#submit-div {
  display: flex;
  align-self: center;
  margin-left: 15px;
}

/* Buttons */
#dims-btn {
  display: flex;
  align-self: center;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
  cursor: pointer;
  display:inline-block;
  padding:0.7em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  letter-spacing: .1em;
  font-weight:bold;
  color:#FFFFFF;
  background-color:rgb(69, 124, 224);
  text-align:center;
  transition: all 0.2s;
}

#dims-btn:hover {
  background-color:rgb(113, 156, 236);
}
