.EightBall {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto 0.5em auto;
}

.EightBall-header {
  color: white;
  text-align: center;
  font-size: 1em;
}

.EightBall-reset-btn {
  margin: auto;
  display: block;
}
