{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}
{% block content %}
<div class="w-full max-w-sm mt-5 mx-auto">
  <h1 class='text-3xl'>Edit <em>{{post.title}}</em></h1>
  <!-- Form -->
  <form class="w-full max-w-sm" method="POST">
    <div class="md:flex md:items-center mb-6">
      <label>
        Title
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="title" value="{{post.title}}">
      </label>
    </div>
    <div class="md:flex md:items-center mb-6">
      <label>
        Post Content
        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="post" rows="4" cols="50">{{post.content}}</textarea>
      </label>
    </div>
    <div>
      <h2 class="text-sm">Tags</h2>
    {% for tag in tags %}
      <div>
        <input type="checkbox"
          name="tag-list"
          id="{{tag.name}}"
          value="{{tag.name}}"
          {% if tag in post.tags %}checked{% endif %}>
          <label for="{{tag.name}}">{{tag.name}}</label>
      </div>
    {% endfor %}
    </div>
    <div class="md:flex md:items-center">
      <button formaction="/posts/{{post.id}}" formmethod="get" class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-1 px-2 border border-black hover:border-transparent rounded">Cancel</button>
      <button formaction="/posts/{{post.id}}/edit" formmethod="post" class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-1 px-2 border border-black hover:border-transparent rounded">Edit</button>
    </div>
  </form>

</div>

{% endblock %}