{% extends 'base.html' %}

{% block title %}User List{% endblock %}
{% block content %}
<div class="w-full max-w-sm mt-5 mx-auto">

  <h1 class="text-3xl">Users</h1>
  {% for msg in get_flashed_messages() %}
  <p class="text-lime-700">{{msg}}</p>
  {% endfor %}
  <ul class="list-disc list-inside mt-2">
    {% for user in users %}
    <li><a href="/users/{{user.id}}">{{user.get_full_name()}}</a></li>
    {% endfor %}
  </ul>
  <a href="/users/new">
  <button class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-1 px-2 border border-black text-xs hover:border-transparent rounded mt-5">Add user</button></a>

</div>

{% endblock %}