.Pokecard {
  background-color: rgb(170, 166, 166);
  margin: 2em;
  width: 175px;
  border-radius: 10%;
}

.Pokecard-header {
  text-align: center;
  color: blue;
}

.Pokecard-img {
  margin: auto;
  display: block;
}

.Pokecard-ul {
  list-style: none;
  display: inline-block;
  text-align: center;
}

.Pokecard-ul-li {
  text-align: center;
}
