{% extends 'base.html' %}

{% block title %}User List{% endblock %}
{% block content %}
<div class="container mx-auto px-4 py-4">

  <div class="md:flex">
    <div class="md:flex-shrink-0">
      <img class="rounded-lg md:w-56" src="{{user.image_url}}" width="448" height="299" alt="User Image">
    </div>
    <div class="mt-4 md:mt-0 md:ml-6">
      <h1 class="block mt-1 text-lg leading-tight font-semibold text-gray-900">{{user.get_full_name()}}</h1>
      <form>
        <button formaction="/users/{{user.id}}/edit" formmethod="get" class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-1 px-2 border border-black hover:border-transparent rounded">Edit</button>

        <button formaction="/users/{{user.id}}/delete" formmethod="post" class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-1 px-2 border border-black hover:border-transparent rounded">Delete</button>
    </form>
      <h2>Posts</h2>
      <ul class="list-disc list-inside">
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
      <a href="/users/{{user.id}}/posts/new">
      <button class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-1 px-2 border border-black hover:border-transparent rounded">Add Post</button></a>
    </div>
  </div>

</div>

{% endblock %}