body {
  color: #1990ea;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 4em;
  text-align: center;
}

p {
  display: block;
  text-align: center;
}

p:nth-of-type(1) {
  font-size: .7em;
}


/* Start Screen */
.start-screen {
  color: #1990ea;
  font-family: 'Press Start 2P', cursive;
  max-width: 100%;
}

.start-screen button:hover{
  background: #2395eb;
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.4);
}

.start-screen h2 {
  font-size: 4em;
  text-align: center;
}

/* Buttons */
.btn {
  background: #1990ea;
  border: none;
  border-radius: 10em;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: 1em auto;
  padding: 0.5em 1em;
}

/* Main Game Screen */
#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  min-width: 500px
}

#game div {
  border: 5px solid #2395eb;
  border-style: dash doubled;
  height: 130px;
  margin: 10px;
  width: 130px;
  background-size: cover;
  background-position: center;
}

#game div:hover {
  transform: scale(1.05);
}
