{% extends 'base.html' %}

{% block title %}Pets for Adoption{% endblock %}

{% block content %}
<h1 class="text-3xl">Pets</h1>

<div class="flex flex-row flex-wrap items-center">

  {% for pet in pets %}
  <a href="/{{pet.id}}">
  <div class="mx-5 my-3 bg-white w-104">
    <div class="flex rounded overflow-hidden shadow-lg max-w-md">
      <div class="">
        <img class="w-48 h-56" src="{{pet.photo_url}}" alt="Image of {{pet.species}}">
      </div>
      <div class="w-56 p-1 ">
        <div class="text-xl mb-2 text-center">{{pet.name}}
          {% if pet.available %}
          <span class="font-bold text-sm">Available!</span>
          {% endif %}
        </div>
        {% if pet.notes %}
        <p class="text-gray-700 text-sm">
          {{pet.notes}}
        </p>
        {% endif %}
      </div>
      <!-- <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
      </div> -->
    </div>
  </a>



  </div>
  {% endfor %}


</div>



{% endblock %}